*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #808080;
    padding: 40px;
}

main{
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 4px 15px black;
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#hobbies-container{
    width: 100%;
    padding: 0;
}

li{
    list-style: none;
    width: 100%;
    margin: 5px;
    display: flex;
    gap: 5px;
}

li p{
    text-wrap: wrap;
}

.delete-btn{
    border: none;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    transition: all linear 0.5s;
}

.change-btn{
    border: none;
    background-color: lightseagreen;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: all linear 0.5s;
}

.modify{
    background-color: seagreen;
}

.change-btn img{
    width: 20px;
    height: 20px;
}

.change-btn:hover{
    background-color: lightblue;
}

.delete-btn:hover{
    background-color: lightcoral;
}

.hobby-changeable{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 2px;
    transition: all linear 0.3s;
}

.hobby-changeable:focus{
    box-shadow: 2px 2px 2px black;
    outline: none;
}

.info-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


