*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Helvetica, sans-serif;
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #808080;
    padding: 40px;
}

main{
    border-radius: 10px;
    width: 280px;
    box-shadow: 0 4px 15px black;
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

li{
    list-style: none;
}

.info-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


